@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
}

header {
    height: 100px;
}

header, section {
    width: 60%;
    margin: 0 auto;
}

.contents section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

section [class^="ruler-"], [class*=" ruler-"] {
    width: 120px;
    height: 80px;
    align-items: center;
    font-size:42px;
  }